<!--style should be put here to apply css for svg immediately -->
#if ($svgHtml)
<style>
    .roadmap-macro-view {
        position: relative;
        font-size: 14px;
    }

    .roadmap-macro-view svg {
        overflow: hidden;
    }

    .roadmap-macro-view .svg-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        overflow: hidden;
    }

    .roadmap-macro-view .svg-bar-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        clip: rect(auto, auto, auto, 51px);
    }

    .roadmap-macro-view .overlay-element {
        pointer-events: auto;
        position: absolute;
        box-sizing: border-box;
    }
    
    .roadmap-macro-view .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    
    .roadmap-macro-view .lane-title{
        line-height: 36px;
        padding: 0 12px;
    }

    .roadmap-macro-view .bar-title {
        line-height: 38px;
        padding: 0 8px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0); /*tips to make whole div clickable in IE(>=8) */
    }

    .roadmap-macro-view .rotate-text {
        transform: translate(0, 100%) rotate(270deg);
        transform-origin: 0 0 0;
        -webkit-transform: translate(0, 100%) rotate(270deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform: translate(0, 100%) rotate(270deg);
        -ms-transform-origin: 0% 0%;
    }
</style>
#end

#set ($pageContexts = ["display", "preview", "email", "pdf", "page_gadget"])

<div class="roadmap-macro-view" #if ($svgHtml) data-roadmap-macro-view='{"id":${id}, "version":${version}, "hash":"${hash}", "canUserEditPage":${canUserEditPage}}' #end>
    #if ($pageContexts.contains($renderContext))
        #if ($svgHtml)
            $svgHtml
        #else
            <img src="${req.contextPath}/plugins/servlet/roadmap/image/${id}/${version}/${hash}.png"/>
        #end
    #else
        <img src="data:image/png;base64,$data"/>
    #end
</div>