#inline-dialog-roadmap-dialog {
    z-index: 3050;
}

#inline-dialog-roadmap-dialog .contents .aui-button {
    margin-left: 0;
}

#inline-dialog-roadmap-dialog > div.contents .aui-button.rename-button {
    margin-left: 7px;
}

#inline-dialog-roadmap-dialog .aui-button.aui-button-compact {
    padding: 2px 5px;
}

#inline-dialog-roadmap-dialog .contents {
    padding: 4px;
    overflow: visible;
}

#inline-dialog-roadmap-dialog .aui-iconfont-remove:before {
    margin-left: 1px;
}

#lane-color-picker {
    z-index: 4012;
}

#inline-dialog-roadmap-dialog .color-item {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid #f2f2f2;
    display: block;
}

#inline-dialog-roadmap-dialog .inner {
    padding: 0px 12px 10px 12px;
}

#inline-dialog-roadmap-dialog .inner-item {
    margin-top: 12px;
}

#inline-dialog-roadmap-dialog .separate-line {
    margin: 0;
}

#inline-dialog-roadmap-dialog .editable-field {
    margin: 5px 10px;
    padding: 3px;
    border: 1px solid transparent;
    word-wrap: break-word;
    position: relative;
    line-height: 20px;
    padding-right: 20px;
}

#inline-dialog-roadmap-dialog .editable-field.editable-field-hover {
    border-color: #ccc;
}

#inline-dialog-roadmap-dialog .editable-field-hover.aui-icon-small.aui-iconfont-edit {
    width: auto;
    height: auto;
    padding-bottom: 3px;
}

#inline-dialog-roadmap-dialog .editable-field-hover.aui-icon-small.aui-iconfont-edit:before {
    position: absolute;
    top: 13px;
    left: auto;
    right: 5px;
}

#inline-dialog-roadmap-dialog .empty-field {
    font-style: italic;
    color: #707070;
}

#inline-dialog-roadmap-dialog .inline-edit-buttons {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    background-color: #F0F0F0;
    padding: 2px;
    border: 1px solid #ccc;

    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 6px rgba(111,111,111,0.2);
}

#inline-dialog-roadmap-dialog .inplace_field {
    max-width: 360px;
}

#inline-dialog-roadmap-dialog .inplace_field.textarea {
    height: 100px;
    resize: none;
}

#inline-dialog-roadmap-dialog .bar-description,
#inline-dialog-roadmap-dialog .bar-page-link,
#inline-dialog-roadmap-dialog #bar-title {
    margin-top: 10px;
}

#inline-dialog-roadmap-dialog #bar-title.editInPlace-active,
#inline-dialog-roadmap-dialog .editable-field.editInPlace-active {
    padding: 0;
}

#inline-dialog-roadmap-dialog .inline-edit-buttons .inplace_cancel {
    margin-left: 2px;
}

#inline-dialog-roadmap-dialog .aui-iconfont-success,
#inline-dialog-roadmap-dialog .inplace_cancel {
    color: #707070;
}

#inline-dialog-roadmap-dialog .aui-iconfont-success:hover,
#inline-dialog-roadmap-dialog .inplace_cancel:hover {
    color: #333;
}

#inline-dialog-roadmap-dialog .aui-button[disabled] .aui-iconfont-success {
    color: #999;
}

#inline-dialog-roadmap-dialog .delete-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAfElEQVR4AWP4Dwafv3z5BmFBBHYVFBfnXYMLfPk+f//vf4t3ARWBBQ7k5OXn54Fw9j2wwMaaaigovwDR8u8vFMDMmJsGAam7oAJLCooKQTB/H1xgWx8IFiAENvZsAkISBBYXrOkGwi64wKb8/AIQzLoM89w0iEPXQByGBgBba8fKwPejhwAAAABJRU5ErkJggg==');
}

#inline-dialog-roadmap-dialog .delete-icon:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAfUlEQVR4AWP4DwavXr/+DGFBBDJZ2DkYrsIFXn0xXf/9v9WSV58gAmUMDMyMDAxMDAwMd8ACMeIwwHsMouXvbwj4BTPDmAEKVkIFHJg5QJCFYT1MgGGRKBCKIwnMEAFCUZIEeoWAUAQuEMPMCIYM16ACnyzFwA5thTgMDQAAPAmeWRlsb5YAAAAASUVORK5CYII=');
}

/* hide input clear button in IE */
#inline-dialog-roadmap-dialog input::-ms-clear {
    display: none;
}

#inline-dialog-roadmap-dialog .information {
    margin-top: 10px;
}

#inline-dialog-roadmap-dialog .inplace_form.aui {
    display: block !important;
}

#inline-dialog-roadmap-dialog .bar-description .inplace_form.aui {
    height: 100px !important;
}

#inline-dialog-roadmap-dialog .bar-page-link-wrapper {
    line-height: 12px;
}

#inline-dialog-roadmap-dialog .bar-page-link-wrapper .hidden-field {
    display: none;
}

#inline-dialog-roadmap-dialog .link-update-page{
    float: left;
    margin: 9px 0px 9px 15px;
}

#inline-dialog-roadmap-dialog .link-new-page {
    float: left;
    margin-right: 10px;
    margin-top:9px;
}

#inline-dialog-roadmap-dialog .page-link-separator {
    content: '•'; /* middot */
    padding: 0 5px;
}

#inline-dialog-roadmap-dialog .bar-page-link .link-page-title {
    padding-left: 20px;
}

#inline-dialog-roadmap-dialog .link-page-dropdown {
    overflow: visible;
    position: absolute;
    width: 100%;
}

#inline-dialog-roadmap-dialog .bar-page-link .aui-dropdown {
    width: 99%;
}

/*CONF-41451*/
#confluence-roadmap-dialog .aui-dialog2-content {
    padding: 0px;
}
.roadmap-editor-popup {
    overflow: auto;
}